{{> headerhome}}
<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <div class="container">

                {{> menuhome}}

                <!-- Banner -->
                <div id="banner">
                    <h2><strong>COMPAÑÍA DE TAXIS CONVENCIONALES "QUITUMBE S.A"</strong>
                        <br /> HONRADEZ-PUNTUALIDAD-SEGURIDAD
                    </h2>
                </div>
            </div>
        </div>

        <!-- Main Wrapper -->
        <div id="main-wrapper">
            <div class="wrapper style1">
                <div class="inner">

                    <!-- Feature 1 -->
                    <section class="container box feature1">
                        <div class="row">
                            <div class="col-12">
                                <header class="first major">
                                    <h2>Servicios</h2>
                                    <p><strong>Ofrecemos los mejores servicios 24/7 </strong></p>
                                </header>
                            </div>
                            <div class="col-4 col-12-medium">
                                <section>
                                    <a href="#" class="image featured"><img src="images/sev1.jpeg" alt="" /></a>
                                    <h3>Servicio de aplicación móvil </h3>
                                    </header>
                                </section>
                            </div>
                            <div class="col-4 col-12-medium">
                                <section>
                                    <a href="#" class="image featured"><img src="images/sev2.jpeg" alt="" /></a>
                                    <h3>Servicio puerta a puerta 24/7</h3>
                                    </header>
                                </section>
                            </div>
                            <div class="col-4 col-12-medium">
                                <section>
                                    <a href="#" class="image featured"><img src="images/sev3.jpg" alt="" /></a>
                                    <h3>Servicio de recorrido y viajes </h3>
                                    </header>
                                </section>
                            </div>
                            <div class="col-12">
                                <p>Somo una empresa de taxis reconocida, dedicada a brindar un servicio de calidad al cliente, contamos con choferes altamente capacitados que permitirán al usuario sentirse tranquilo y seguro durante su viaje.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="wrapper style2">
                <div class="inner">

                    <!-- Feature 2 -->
                    <section class="container box feature2">
                        <div class="row">
                            <div class="col-6 col-12-medium">
                                <section>
                                    <header class="major">
                                        <h2>Misión</h2>
                                    </header>
                                    <p>Somos una Compañia de Taxis que brindamos el servicio de transporte, cómodo y seguro a nuestros clientes en las mejores condiciones posibles, ofreciendo un ambiente de armonia y calidad, basados en el respeto, la integración
                                        y el trabajo en equipo, generando rentabilidad para nuestros socios</p>
                                    <footer>
                                    </footer>
                                </section>
                            </div>
                            <div class="col-6 col-12-medium">
                                <section>
                                    <header class="major">
                                        <h2>Visión</h2>
                                    </header>
                                    <p>Sobre la base de la constitución de nuestra Compañía de Taxis Quitumbe S A, tenemos como visión ser la mejor opción de taxis convencionales en nuestro sector</p>
                                    <footer>
                                    </footer>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
    </div>
    </div>


{{> footerhome}}
</body>

</html>