{{> headeri}}
<body>
    <header role="banner">
        <nav role="navigation">
            <ul>
                <li class="github">
                    <a rel="external" href="https://github.com/RC2301/Blog-Personal.git" title="Github">
                        <svg class="fa-github">
                <use xlink:href="#fa-github"></use>
              </svg>
                        <em>WebSlides</em>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main role="main">
        <article id="webslides" class="vertical">
            <section>
                <span class="background" style="
              background-image: url('http://www.revistacrisis.com/sites/revistacrisis.prod.devshop.nimblersoft.com/files/2019-01/06-01-2019%20taxis%20.jpg');
            "></span>
                <div class="wrap aligncenter" id="as">
                    <br>
                    <h1><strong>Procesos para Compañia de Taxis.</strong></h1>
                    <p class="text-intro">
                        Generador de turnos, multas y balance de resultados de la compañia de taxis Quitumbe S.A.
                    </p>
                    <p class="text-intro">
                        Docentes: Ing. Franklin Hurtado, Ing. Rodrigo Tufiño, Ing. Diego Vallejo.
                    </p>
                    <p>
                        <a href="/home" class="button zoomIn" title="Blog">Inicio
                        </a>
                    </p>
                    <br>
                </div>
            </section>
        </article>
    </main>
    <script src="./assets/js/webslides.js"></script>
    <script>
        window.ws = new WebSlides();
    </script>
    <script defer src="./assets/js/svg-icons.js"></script>
</body>
</html>